.banner {
    background-image: url('/assets/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include banner-menu-position;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-size: 1.8rem;
        font-family: $fontAlata;
    }

    &__hamburger {
        align-self: center;
    }

    &__text {
        padding: 1.2rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: $fontJosefin;
        margin-top: 50vh;
        transform: translateY(-80%);
        border: .18rem solid $white;
    }
}

